* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.body-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 600px;
    background-color: aliceblue;
    border-radius: 20px;
    border: 2px solid white;
    flex-direction: column;
}

#title {
    margin: 20px;
}

.input-box-wrapper {
    text-align: right;
    margin: 10px;

}

.input-box {
    width: 200px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
}

#buttons {
    text-align: center;
}

.button {
    height: 30px;
    width: 100px;
    margin: 10px;
    border-radius: 10px;
    background-color: #8F9779;
}

.field-error {
    color: red;
    text-align: center;
}