
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.body-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 600px;
    background-color: aliceblue;
    border-radius: 20px;
    border: 2px solid white;
    flex-direction: column;
}


#title {
    margin: 25px;
}


.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lotto-value {
    display: flex;
    width: 80px;
    height: 80px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
}

.value-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin: 10px;
}

.value-wrapper > :nth-of-type(1) {
    background-color: #D47424;
}

.value-wrapper > :nth-last-of-type(1) {
    background-color: #F2E2DE;
}

.value-wrapper > :nth-of-type(n + 2):nth-of-type(-n+6) {
    background-color: #A36C5F;
}